.Button {
    /* background-color: transparent; */
    border: none;
    /* color: inherit; */
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.default {
    color: inherit;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}